<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add
			name="BDDBaseDatosProye"
			connectionString="Data Source=DESKTOP-IH311RR\SQLEXPRESS; Initial Catalog=BDDBaseDatosProye; Integrated Security = true"
			providerName="System.Data.SqlClient"
		/>

	</connectionStrings>
</configuration>